<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="M44100433_WONG_ZHENG_CHYI.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <M44100433_WONG_ZHENG_CHYI.My.MySettings>
            <setting name="SavedUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedName" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedPhone" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedDate" serializeAs="String">
                <value />
            </setting>
            <setting name="IsLoggedIn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RememberMe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>""</value>
            </setting>
        </M44100433_WONG_ZHENG_CHYI.My.MySettings>
    </userSettings>
</configuration>
